# Learn more:
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders
/ios/
/android/

# Native keys / certificates
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# macOS
.DS_Store

# Local environment files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Example / template folders
app-example/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Backend generated/uploaded files
backend/__pycache__/
backend/uploads/

# YOLO / AI training files
backend/runs/
backend/datasets/
backend/E-Waste Dataset/
backend/*.pt
backend/*.zip

# Database backup files
*.sql

# Virtual environments
.venv/
venv/
env/